### Swift ###

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

.build/
Packages/**/.build/*
# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/xcov_report

# Others
*.cer*
*.p12
*.mobileprovision
*.xcuserstate
.DS_Store
**/*.xcworkspacedata
**/xcshareddata/*
